.choosingSeason {
    width: 100vw;
    height: calc(100vh - 80px);
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-top: 80px;
}

.choosingSeason_seasons {
    display: flex;
    width: calc(100% - 60px);
    height: calc(100% - 24px - 8px);
    padding: 12px 0;
}

.choosingSeason_seasons_seasonsList {
    flex-grow: 3;
    flex-basis: 0;
    padding-right: 24px;
    height: fit-content;
}

.choosingSeason_seasons_templatesList {
    flex-grow: 7;
    flex-basis: 0;
    border-left: 10px solid var(--background);
    padding-left: 24px;
    max-height: 80vh;
}

.choosingSeason_seasons_seasonsList_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0;

}
.choosingSeason_seasons_seasonsList_list li {
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    font-size: 18px;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
}
.choosingSeason_seasons_seasonsList_list li:hover,
.activeSeason {
    background-color: var(--highlight-background) !important;
    color: white;
}

.choosingSeason_seasons_seasonsList_title {
    font-size: 24px;    
    font-weight: 600;
    margin-bottom: 12px;
    width: 100%;
}

