.home {
    display: flex;
    width: calc(100% - 60px);
    flex-grow: 1;
    flex-basis: 0;
    margin: 40px 0 20px 0;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.home_greeting {
    width: 40%;
    background-color: var(--background);
    padding: 40px 30px;
    z-index: 1;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    backdrop-filter: blur(50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.home_greeting h1 {
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin: 0;
}

.home_greeting p {
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
}

.home_backgroundImg {
    height: 100%;
    width: 80%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    overflow: hidden;
}

.home_backgroundImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home_getStartedButton_container {
    display: flex;
    flex-grow: 1;
    gap: 6px;
    width: 90%;
    border-radius: 20px;
    justify-content: center;
    align-items: flex-end;
}

.home_getStartedButton {
    display: flex;
    width: 90%;
    height: 50px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    background: var(--secondary);
    backdrop-filter: blur(10px);
    transition: .1s linear;
}
.home_getStartedButton:hover {
    cursor: pointer;
    backdrop-filter: blur(30px);
    scale: 1.1;


}

.home_getStartedButton p {
    font-size: 24px;
    font-weight: 600;
    color: var(--highlight-text);
}

@media screen and (max-width: 1400px) {
    .home_greeting img {
        display: none;
    }
}